/* SET YOUR OWN BREAKPOINTS BECAUSE IT GETS CONFUSING */
/* Only if you want to consider larger phone screens? */
/* is 480px */
/* is 768px */
/* is 1024px */
/* is 1260 */
/* is 1600 */
/* CONTAINERS */
/* SPACINGS */
.isf-experiment {
  /* PADDING & MARGINS */
  /* Edit vars in scss/variables/variables_layout.scss */
  /* Padding top bottom */
  /* Padding */
  /* Margin bottom */
  /* GRID BASED ON BOOTSTRAP */
}
.isf-experiment .isf-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.isf-experiment .isf-padding-tb-sm {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-tb-sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-tb-sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-tb-sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.isf-experiment .isf-padding-tb-md {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-tb-md {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-tb-md {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-tb-md {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.isf-experiment .isf-padding-tb-lg {
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-tb-lg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-tb-lg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-tb-lg {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.isf-experiment .isf-padding-tb-xl {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-tb-xl {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-tb-xl {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-tb-xl {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
.isf-experiment .isf-padding-sm {
  padding: 15px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-sm {
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-sm {
    padding: 30px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-sm {
    padding: 30px;
  }
}
.isf-experiment .isf-padding-md {
  padding: 30px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-md {
    padding: 45px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-md {
    padding: 45px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-md {
    padding: 60px;
  }
}
.isf-experiment .isf-padding-lg {
  padding: 45px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-lg {
    padding: 60px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-lg {
    padding: 60px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-lg {
    padding: 90px;
  }
}
.isf-experiment .isf-padding-xl {
  padding: 60px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-padding-xl {
    padding: 90px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-padding-xl {
    padding: 120px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-padding-xl {
    padding: 180px;
  }
}
.isf-experiment .isf-margin-b-sm {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-margin-b-sm {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-margin-b-sm {
    margin-bottom: 30px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-margin-b-sm {
    margin-bottom: 30px;
  }
}
.isf-experiment .isf-margin-b-md {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-margin-b-md {
    margin-bottom: 45px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-margin-b-md {
    margin-bottom: 45px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-margin-b-md {
    margin-bottom: 60px;
  }
}
.isf-experiment .isf-margin-b-lg {
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-margin-b-lg {
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-margin-b-lg {
    margin-bottom: 60px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-margin-b-lg {
    margin-bottom: 90px;
  }
}
.isf-experiment .isf-margin-b-xl {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .isf-experiment .isf-margin-b-xl {
    margin-bottom: 90px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-margin-b-xl {
    margin-bottom: 120px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-margin-b-xl {
    margin-bottom: 180px;
  }
}
.isf-experiment *,
.isf-experiment *::before,
.isf-experiment *::after {
  box-sizing: bisf-order-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .isf-experiment .isf-container {
    max-width: 760px;
  }
}
@media (min-width: 1024px) {
  .isf-experiment .isf-container {
    max-width: 960px;
  }
}
@media (min-width: 1260px) {
  .isf-experiment .isf-container {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .isf-experiment .isf-container {
    max-width: 1400px;
  }
}
.isf-experiment .isf-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.isf-experiment .isf-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.isf-experiment .no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.isf-experiment .no-gutters > .col,
.isf-experiment .no-gutters > [class*="isf-col-"] {
  padding-right: 0;
  padding-left: 0;
}
.isf-experiment .isf-col-1, .isf-experiment .isf-col-2, .isf-experiment .isf-col-3, .isf-experiment .isf-col-4, .isf-experiment .isf-col-5, .isf-experiment .isf-col-6, .isf-experiment .isf-col-7, .isf-experiment .isf-col-8, .isf-experiment .isf-col-9, .isf-experiment .isf-col-10, .isf-experiment .isf-col-11, .isf-experiment .isf-col-12, .isf-experiment .col,
.isf-experiment .isf-col-auto, .isf-experiment .isf-col-sm-1, .isf-experiment .isf-col-sm-2, .isf-experiment .isf-col-sm-3, .isf-experiment .isf-col-sm-4, .isf-experiment .isf-col-sm-5, .isf-experiment .isf-col-sm-6, .isf-experiment .isf-col-sm-7, .isf-experiment .isf-col-sm-8, .isf-experiment .isf-col-sm-9, .isf-experiment .isf-col-sm-10, .isf-experiment .isf-col-sm-11, .isf-experiment .isf-col-sm-12, .isf-experiment .isf-col-sm,
.isf-experiment .isf-col-sm-auto, .isf-experiment .isf-col-md-1, .isf-experiment .isf-col-md-2, .isf-experiment .isf-col-md-3, .isf-experiment .isf-col-md-4, .isf-experiment .isf-col-md-5, .isf-experiment .isf-col-md-6, .isf-experiment .isf-col-md-7, .isf-experiment .isf-col-md-8, .isf-experiment .isf-col-md-9, .isf-experiment .isf-col-md-10, .isf-experiment .isf-col-md-11, .isf-experiment .isf-col-md-12, .isf-experiment .isf-col-md,
.isf-experiment .isf-col-md-auto, .isf-experiment .isf-col-lg-1, .isf-experiment .isf-col-lg-2, .isf-experiment .isf-col-lg-3, .isf-experiment .isf-col-lg-4, .isf-experiment .isf-col-lg-5, .isf-experiment .isf-col-lg-6, .isf-experiment .isf-col-lg-7, .isf-experiment .isf-col-lg-8, .isf-experiment .isf-col-lg-9, .isf-experiment .isf-col-lg-10, .isf-experiment .isf-col-lg-11, .isf-experiment .isf-col-lg-12, .isf-experiment .isf-col-lg,
.isf-experiment .isf-col-lg-auto, .isf-experiment .isf-col-xl-1, .isf-experiment .isf-col-xl-2, .isf-experiment .isf-col-xl-3, .isf-experiment .isf-col-xl-4, .isf-experiment .isf-col-xl-5, .isf-experiment .isf-col-xl-6, .isf-experiment .isf-col-xl-7, .isf-experiment .isf-col-xl-8, .isf-experiment .isf-col-xl-9, .isf-experiment .isf-col-xl-10, .isf-experiment .isf-col-xl-11, .isf-experiment .isf-col-xl-12, .isf-experiment .isf-col-xl,
.isf-experiment .isf-col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.isf-experiment .isf-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.isf-experiment .isf-col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.isf-experiment .isf-col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.isf-experiment .isf-col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.isf-experiment .isf-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.isf-experiment .isf-col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.isf-experiment .isf-col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.isf-experiment .isf-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.isf-experiment .isf-col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.isf-experiment .isf-col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.isf-experiment .isf-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.isf-experiment .isf-col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.isf-experiment .isf-col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.isf-experiment .isf-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.isf-experiment .isf-order-first {
  -ms-flex-order: -1;
  order: -1;
}
.isf-experiment .isf-order-last {
  -ms-flex-order: 13;
  order: 13;
}
.isf-experiment .isf-order-0 {
  -ms-flex-order: 0;
  order: 0;
}
.isf-experiment .isf-order-1 {
  -ms-flex-order: 1;
  order: 1;
}
.isf-experiment .isf-order-2 {
  -ms-flex-order: 2;
  order: 2;
}
.isf-experiment .isf-order-3 {
  -ms-flex-order: 3;
  order: 3;
}
.isf-experiment .isf-order-4 {
  -ms-flex-order: 4;
  order: 4;
}
.isf-experiment .isf-order-5 {
  -ms-flex-order: 5;
  order: 5;
}
.isf-experiment .isf-order-6 {
  -ms-flex-order: 6;
  order: 6;
}
.isf-experiment .isf-order-7 {
  -ms-flex-order: 7;
  order: 7;
}
.isf-experiment .isf-order-8 {
  -ms-flex-order: 8;
  order: 8;
}
.isf-experiment .isf-order-9 {
  -ms-flex-order: 9;
  order: 9;
}
.isf-experiment .isf-order-10 {
  -ms-flex-order: 10;
  order: 10;
}
.isf-experiment .isf-order-11 {
  -ms-flex-order: 11;
  order: 11;
}
.isf-experiment .isf-order-12 {
  -ms-flex-order: 12;
  order: 12;
}
.isf-experiment .isf-offset-1 {
  margin-left: 8.333333%;
}
.isf-experiment .isf-offset-2 {
  margin-left: 16.666667%;
}
.isf-experiment .isf-offset-3 {
  margin-left: 25%;
}
.isf-experiment .isf-offset-4 {
  margin-left: 33.333333%;
}
.isf-experiment .isf-offset-5 {
  margin-left: 41.666667%;
}
.isf-experiment .isf-offset-6 {
  margin-left: 50%;
}
.isf-experiment .isf-offset-7 {
  margin-left: 58.333333%;
}
.isf-experiment .isf-offset-8 {
  margin-left: 66.666667%;
}
.isf-experiment .isf-offset-9 {
  margin-left: 75%;
}
.isf-experiment .isf-offset-10 {
  margin-left: 83.333333%;
}
.isf-experiment .isf-offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  .isf-experiment .isf-col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .isf-experiment .isf-col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .isf-experiment .isf-col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .isf-experiment .isf-col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .isf-experiment .isf-col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .isf-experiment .isf-col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .isf-experiment .isf-col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .isf-experiment .isf-col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .isf-experiment .isf-col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .isf-experiment .isf-col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .isf-experiment .isf-col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .isf-experiment .isf-col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .isf-experiment .isf-col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .isf-experiment .isf-col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .isf-experiment .isf-order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .isf-experiment .isf-order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .isf-experiment .isf-order-sm-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .isf-experiment .isf-order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .isf-experiment .isf-order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .isf-experiment .isf-order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .isf-experiment .isf-order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .isf-experiment .isf-order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .isf-experiment .isf-order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .isf-experiment .isf-order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .isf-experiment .isf-order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .isf-experiment .isf-order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .isf-experiment .isf-order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .isf-experiment .isf-order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .isf-experiment .isf-order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .isf-experiment .isf-offset-sm-0 {
    margin-left: 0;
  }
  .isf-experiment .isf-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .isf-experiment .isf-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .isf-experiment .isf-offset-sm-3 {
    margin-left: 25%;
  }
  .isf-experiment .isf-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .isf-experiment .isf-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .isf-experiment .isf-offset-sm-6 {
    margin-left: 50%;
  }
  .isf-experiment .isf-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .isf-experiment .isf-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .isf-experiment .isf-offset-sm-9 {
    margin-left: 75%;
  }
  .isf-experiment .isf-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .isf-experiment .isf-offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  .isf-experiment .isf-col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .isf-experiment .isf-col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .isf-experiment .isf-col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .isf-experiment .isf-col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .isf-experiment .isf-col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .isf-experiment .isf-col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .isf-experiment .isf-col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .isf-experiment .isf-col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .isf-experiment .isf-col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .isf-experiment .isf-col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .isf-experiment .isf-col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .isf-experiment .isf-col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .isf-experiment .isf-col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .isf-experiment .isf-col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .isf-experiment .isf-order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .isf-experiment .isf-order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .isf-experiment .isf-order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .isf-experiment .isf-order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .isf-experiment .isf-order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .isf-experiment .isf-order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .isf-experiment .isf-order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .isf-experiment .isf-order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .isf-experiment .isf-order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .isf-experiment .isf-order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .isf-experiment .isf-order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .isf-experiment .isf-order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .isf-experiment .isf-order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .isf-experiment .isf-order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .isf-experiment .isf-order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .isf-experiment .isf-offset-md-0 {
    margin-left: 0;
  }
  .isf-experiment .isf-offset-md-1 {
    margin-left: 8.333333%;
  }
  .isf-experiment .isf-offset-md-2 {
    margin-left: 16.666667%;
  }
  .isf-experiment .isf-offset-md-3 {
    margin-left: 25%;
  }
  .isf-experiment .isf-offset-md-4 {
    margin-left: 33.333333%;
  }
  .isf-experiment .isf-offset-md-5 {
    margin-left: 41.666667%;
  }
  .isf-experiment .isf-offset-md-6 {
    margin-left: 50%;
  }
  .isf-experiment .isf-offset-md-7 {
    margin-left: 58.333333%;
  }
  .isf-experiment .isf-offset-md-8 {
    margin-left: 66.666667%;
  }
  .isf-experiment .isf-offset-md-9 {
    margin-left: 75%;
  }
  .isf-experiment .isf-offset-md-10 {
    margin-left: 83.333333%;
  }
  .isf-experiment .isf-offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  .isf-experiment .isf-col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .isf-experiment .isf-col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .isf-experiment .isf-col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .isf-experiment .isf-col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .isf-experiment .isf-col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .isf-experiment .isf-col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .isf-experiment .isf-col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .isf-experiment .isf-col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .isf-experiment .isf-col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .isf-experiment .isf-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .isf-experiment .isf-col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .isf-experiment .isf-col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .isf-experiment .isf-col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .isf-experiment .isf-col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .isf-experiment .isf-order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .isf-experiment .isf-order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .isf-experiment .isf-order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .isf-experiment .isf-order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .isf-experiment .isf-order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .isf-experiment .isf-order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .isf-experiment .isf-order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .isf-experiment .isf-order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .isf-experiment .isf-order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .isf-experiment .isf-order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .isf-experiment .isf-order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .isf-experiment .isf-order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .isf-experiment .isf-order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .isf-experiment .isf-order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .isf-experiment .isf-order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .isf-experiment .isf-offset-lg-0 {
    margin-left: 0;
  }
  .isf-experiment .isf-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .isf-experiment .isf-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .isf-experiment .isf-offset-lg-3 {
    margin-left: 25%;
  }
  .isf-experiment .isf-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .isf-experiment .isf-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .isf-experiment .isf-offset-lg-6 {
    margin-left: 50%;
  }
  .isf-experiment .isf-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .isf-experiment .isf-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .isf-experiment .isf-offset-lg-9 {
    margin-left: 75%;
  }
  .isf-experiment .isf-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .isf-experiment .isf-offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  .isf-experiment .isf-col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .isf-experiment .isf-col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .isf-experiment .isf-col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .isf-experiment .isf-col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .isf-experiment .isf-col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .isf-experiment .isf-col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .isf-experiment .isf-col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .isf-experiment .isf-col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .isf-experiment .isf-col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .isf-experiment .isf-col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .isf-experiment .isf-col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .isf-experiment .isf-col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .isf-experiment .isf-col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .isf-experiment .isf-col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .isf-experiment .isf-order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .isf-experiment .isf-order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .isf-experiment .isf-order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .isf-experiment .isf-order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .isf-experiment .isf-order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .isf-experiment .isf-order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .isf-experiment .isf-order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .isf-experiment .isf-order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .isf-experiment .isf-order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .isf-experiment .isf-order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .isf-experiment .isf-order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .isf-experiment .isf-order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .isf-experiment .isf-order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .isf-experiment .isf-order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .isf-experiment .isf-order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .isf-experiment .isf-offset-xl-0 {
    margin-left: 0;
  }
  .isf-experiment .isf-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .isf-experiment .isf-offset-xl-2 {
    margin-left: 16.666667%;
  }
  .isf-experiment .isf-offset-xl-3 {
    margin-left: 25%;
  }
  .isf-experiment .isf-offset-xl-4 {
    margin-left: 33.333333%;
  }
  .isf-experiment .isf-offset-xl-5 {
    margin-left: 41.666667%;
  }
  .isf-experiment .isf-offset-xl-6 {
    margin-left: 50%;
  }
  .isf-experiment .isf-offset-xl-7 {
    margin-left: 58.333333%;
  }
  .isf-experiment .isf-offset-xl-8 {
    margin-left: 66.666667%;
  }
  .isf-experiment .isf-offset-xl-9 {
    margin-left: 75%;
  }
  .isf-experiment .isf-offset-xl-10 {
    margin-left: 83.333333%;
  }
  .isf-experiment .isf-offset-xl-11 {
    margin-left: 91.666667%;
  }
}

@font-face {
  font-family: "Univers";
  src: url("fonts/UniversLTPro-55Roman.otf") format("opentype");
}
@font-face {
  font-family: "Univers Bold";
  src: url("fonts/UniversLTPro-65Bold.otf") format("opentype");
}
body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.isf-experiment__container {
  overflow-x: hidden;
}

.xpr-horscroll {
  width: 100vw;
  position: relative;
}
.xpr-horscroll--inner {
  display: flex;
  width: auto;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s all;
  background-color: grey;
  color: white;
}
.xpr-horscroll--inner.is--fixed {
  position: fixed;
  background-color: black;
}
.xpr-horscroll--inner.is--bottom {
  top: auto;
  bottom: 0;
  background-color: black;
}
.xpr-horscroll__step {
  height: 100vh;
  border: 1px solid green;
  z-index: 200;
  position: relative;
}
.xpr-horscroll__progress {
  width: 10px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.xpr-horscroll__progress .progressing {
  background-color: red;
  width: 100%;
  height: 0%;
  display: block;
}

.xpr-horscroll__scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.xpr-horscroll__scene h1 {
  opacity: 0.5;
  transition: 0.2s all;
}
.xpr-horscroll__scene.is--active h1 {
  opacity: 1;
}

.isf-placeholder {
  height: 80vh;
}

/*# sourceMappingURL=style.css.map */
