<div class = "isf-group--fullscreen">
    <div class = "isf-group__item isf-h--center isf-v--bottom isf-w--l " data-anim = "parallax">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie6.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie6.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--left isf-v--top isf-w--l " >
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie7.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie7.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--right isf-v--center isf-w--m ">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie8.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie8.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--center isf-v--center isf-w--l ">
        <h4>
            I know when to go out, know when to stay in, get things done.
        </h4>
    </div>
</div>

<div class = "isf-group--fullscreen">
    <div class = "isf-group__item isf-h--right isf-v--top isf-w--l">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie9.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie9.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--left isf-v--center isf-w--l">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie10.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie10.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--right isf-v--bottom isf-w--m">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie12.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie12.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--center isf-v--center isf-w--l">
        <h4>
            Baby, I've been breaking glass in your room again. Listen, don't look at the carpet, I drew something awful on it.
        </h4>
    </div>
</div>