<div class = "isf-group--fullscreen">
    <div class = "isf-group__item isf-h--center isf-v--top isf-w--m ">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie1.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie1.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--left isf-v--bottom isf-w--m ">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie5.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie5.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--right isf-v--center isf-w--m " data-anim = "parallax">
        
        <picture class = "isf-el_image js--image"
        >
            <source srcset="https://interactive-development.hsnb.io/hsnbisf/assets/bowie4.jpg"
                    media="(min-width: 768px)">
            <img src="https://interactive-development.hsnb.io/hsnbisf/assets/bowie4.jpg" />
        </picture>    </div>
    <div class = "isf-group__item isf-h--center isf-v--center isf-w--l ">
        <h4>
            There's a starman waiting in the sky. He'd like to come and meet us, but he thinks he'd blow our minds.
        </h4>
    </div>
</div>