/* DETACH LATER FROM THE REST */
.xpr__container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  perspective: 2000px;
}

.xpr-point__img {
  height: 100vh;
  width: 100vh;
  position: absolute;
  left: 50%;
  margin-left: -50vh;
  z-index: -1;
}

.xpr-point__svg {
  width: 100vh;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.xpr-point__svg__clip {
  position: relative;
}
.xpr-point__svg__clip path {
  visibility: hidden;
}
.xpr-point__svg__clip path:first-of-type {
  visibility: visible;
}

.xpr-map {
  width: 500vw;
  height: 200vh;
  position: absolute;
  left: calc(-500vw + 50%);
  top: calc(-200vh + 50%);
  transform-style: preserve-3d;
  transform: translateY(50%) translateX(50%);
}
.xpr-map .surface-container {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
}
.xpr-map .surface-container .surface {
  height: 100%;
  width: 100%;
  /*background-image: url('https://cdn.mapsinternational.co.uk/pub/media/catalog/product/cache/afad95d7734d2fa6d0a8ba78597182b7/b/a/barcelona-city-street-map-print-turquoise_ls01569.jpg');
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 0%);*/
  transition: 1s all;
  background-color: black;
}
.xpr-map .surface-container .surface.is-masked {
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
}
.xpr-map__loc {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  perspective: 200px;
  top: -50vh;
  left: -50vw;
  color: white;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xpr-map__loc h1 {
  font-size: 28px;
  font-weight: 400;
}
.xpr-map__loc a {
  z-index: 2000;
  position: relative;
  color: white;
}
.xpr-map__loc__img {
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: -50vh;
  left: -50vw;
  clip-path: url(#xpr-map__svg__clip);
}
.xpr-map__loc__center {
  width: 400px;
  height: 200px;
}
.xpr-map__loc__explore {
  display: none;
}
.xpr-map__loc__el {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;

}
.xpr-map__loc__el h1 {
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-size: 18vw;
  line-height: 18vw;
  margin: 0px;
  //display: none;
}
.xpr-map__loc .xpr-map__svg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -50vh;
  left: -50vw;
  pointer-events: none;
}
.xpr-map__loc .xpr-map__svg #xpr-map__svg__clip path {
  visibility: hidden;
}
.xpr-map__loc .xpr-map__svg #xpr-map__svg__clip path:first-of-type {
  visibility: visible;
}
.xpr-map__loc:before {
  /*//simulating surface
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../../preview/assets/bowie2.jpg');
  background-size: cover;
  top: -50vh;
  left: -50vw;
  z-index: -1;
  @include transition-normal;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);*/
}
.xpr-map__loc.is--exploring:before {
  -webkit-clip-path: polygon(25% 56%, 75% 55%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 56%, 75% 55%, 100% 100%, 0% 100%);
}

.l-effect {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  pointer-events: none;
}

span[class*="letter"] {
  display: block;
  position: relative;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  white-space: pre;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
