/* DEFAULTS */
/* HSNB Utilities & Variables */
/* Variables */
/* SET YOUR OWN BREAKPOINTS BECAUSE IT GETS CONFUSING */
/* Only if you want to consider larger phone screens? */
/* is 480px */
/* is 768px */
/* is 1024px */
/* is 1260 */
/* is 1600 */
/* /////// LAYOUT /////// */
/* MQ REFERENCE

$mq-breakpoints: (
  mobile-large: 375px,
  mobile-landscape: 480px,
  tablet: 640px,
  tablet-wide: 768px,
  header-large: 1000px,
  newsletter-popup: 1024px,
  desktop: 1024px,
  desktop-plus: 1124px,
  widescreen: 1260px,
  widescreen-plus: 1360px,
  widescreen-large: 1600px
);

*/
/* CONTAINERS */
/* SPACINGS */
/* /////// COLORS /////// */
/* /////////// ANIMATIONS //////////// */
/* DURATIONS */
/* FUNCTIONS */
/* See more functions here: https://easings.net/ */
/* ICONS */
/* Default theme */
#interactive-story,
.preview__nav {
  /* PADDING & MARGINS */
  /* Edit vars in scss/variables/variables_layout.scss */
  /* Padding top bottom */
  /* Padding */
  /* Margin bottom */
  /* GRID BASED ON BOOTSTRAP */ }
  #interactive-story .isf-container,
  .preview__nav .isf-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  #interactive-story .isf-padding-tb-sm,
  .preview__nav .isf-padding-tb-sm {
    padding-top: 15px;
    padding-bottom: 15px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-tb-sm,
      .preview__nav .isf-padding-tb-sm {
        padding-top: 30px;
        padding-bottom: 30px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-tb-sm,
      .preview__nav .isf-padding-tb-sm {
        padding-top: 30px;
        padding-bottom: 30px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-tb-sm,
      .preview__nav .isf-padding-tb-sm {
        padding-top: 30px;
        padding-bottom: 30px; } }
  #interactive-story .isf-padding-tb-md,
  .preview__nav .isf-padding-tb-md {
    padding-top: 30px;
    padding-bottom: 30px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-tb-md,
      .preview__nav .isf-padding-tb-md {
        padding-top: 45px;
        padding-bottom: 45px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-tb-md,
      .preview__nav .isf-padding-tb-md {
        padding-top: 45px;
        padding-bottom: 45px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-tb-md,
      .preview__nav .isf-padding-tb-md {
        padding-top: 60px;
        padding-bottom: 60px; } }
  #interactive-story .isf-padding-tb-lg,
  .preview__nav .isf-padding-tb-lg {
    padding-top: 45px;
    padding-bottom: 45px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-tb-lg,
      .preview__nav .isf-padding-tb-lg {
        padding-top: 60px;
        padding-bottom: 60px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-tb-lg,
      .preview__nav .isf-padding-tb-lg {
        padding-top: 60px;
        padding-bottom: 60px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-tb-lg,
      .preview__nav .isf-padding-tb-lg {
        padding-top: 90px;
        padding-bottom: 90px; } }
  #interactive-story .isf-padding-tb-xl,
  .preview__nav .isf-padding-tb-xl {
    padding-top: 60px;
    padding-bottom: 60px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-tb-xl,
      .preview__nav .isf-padding-tb-xl {
        padding-top: 90px;
        padding-bottom: 90px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-tb-xl,
      .preview__nav .isf-padding-tb-xl {
        padding-top: 120px;
        padding-bottom: 120px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-tb-xl,
      .preview__nav .isf-padding-tb-xl {
        padding-top: 180px;
        padding-bottom: 180px; } }
  #interactive-story .isf-padding-sm,
  .preview__nav .isf-padding-sm {
    padding: 15px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-sm,
      .preview__nav .isf-padding-sm {
        padding: 30px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-sm,
      .preview__nav .isf-padding-sm {
        padding: 30px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-sm,
      .preview__nav .isf-padding-sm {
        padding: 30px; } }
  #interactive-story .isf-padding-md,
  .preview__nav .isf-padding-md {
    padding: 30px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-md,
      .preview__nav .isf-padding-md {
        padding: 45px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-md,
      .preview__nav .isf-padding-md {
        padding: 45px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-md,
      .preview__nav .isf-padding-md {
        padding: 60px; } }
  #interactive-story .isf-padding-lg,
  .preview__nav .isf-padding-lg {
    padding: 45px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-lg,
      .preview__nav .isf-padding-lg {
        padding: 60px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-lg,
      .preview__nav .isf-padding-lg {
        padding: 60px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-lg,
      .preview__nav .isf-padding-lg {
        padding: 90px; } }
  #interactive-story .isf-padding-xl,
  .preview__nav .isf-padding-xl {
    padding: 60px; }
    @media (min-width: 768px) {
      #interactive-story .isf-padding-xl,
      .preview__nav .isf-padding-xl {
        padding: 90px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-padding-xl,
      .preview__nav .isf-padding-xl {
        padding: 120px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-padding-xl,
      .preview__nav .isf-padding-xl {
        padding: 180px; } }
  #interactive-story .isf-margin-b-sm,
  .preview__nav .isf-margin-b-sm {
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      #interactive-story .isf-margin-b-sm,
      .preview__nav .isf-margin-b-sm {
        margin-bottom: 30px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-margin-b-sm,
      .preview__nav .isf-margin-b-sm {
        margin-bottom: 30px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-margin-b-sm,
      .preview__nav .isf-margin-b-sm {
        margin-bottom: 30px; } }
  #interactive-story .isf-margin-b-md,
  .preview__nav .isf-margin-b-md {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      #interactive-story .isf-margin-b-md,
      .preview__nav .isf-margin-b-md {
        margin-bottom: 45px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-margin-b-md,
      .preview__nav .isf-margin-b-md {
        margin-bottom: 45px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-margin-b-md,
      .preview__nav .isf-margin-b-md {
        margin-bottom: 60px; } }
  #interactive-story .isf-margin-b-lg,
  .preview__nav .isf-margin-b-lg {
    margin-bottom: 45px; }
    @media (min-width: 768px) {
      #interactive-story .isf-margin-b-lg,
      .preview__nav .isf-margin-b-lg {
        margin-bottom: 60px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-margin-b-lg,
      .preview__nav .isf-margin-b-lg {
        margin-bottom: 60px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-margin-b-lg,
      .preview__nav .isf-margin-b-lg {
        margin-bottom: 90px; } }
  #interactive-story .isf-margin-b-xl,
  .preview__nav .isf-margin-b-xl {
    margin-bottom: 60px; }
    @media (min-width: 768px) {
      #interactive-story .isf-margin-b-xl,
      .preview__nav .isf-margin-b-xl {
        margin-bottom: 90px; } }
    @media (min-width: 1024px) {
      #interactive-story .isf-margin-b-xl,
      .preview__nav .isf-margin-b-xl {
        margin-bottom: 120px; } }
    @media (min-width: 1260px) {
      #interactive-story .isf-margin-b-xl,
      .preview__nav .isf-margin-b-xl {
        margin-bottom: 180px; } }
  #interactive-story *,
  #interactive-story *::before,
  #interactive-story *::after,
  .preview__nav *,
  .preview__nav *::before,
  .preview__nav *::after {
    box-sizing: bisf-order-box;
    box-sizing: border-box; }
  @media (min-width: 768px) {
    #interactive-story .isf-container,
    .preview__nav .isf-container {
      max-width: 760px; } }
  @media (min-width: 1024px) {
    #interactive-story .isf-container,
    .preview__nav .isf-container {
      max-width: 960px; } }
  @media (min-width: 1260px) {
    #interactive-story .isf-container,
    .preview__nav .isf-container {
      max-width: 1200px; } }
  @media (min-width: 1600px) {
    #interactive-story .isf-container,
    .preview__nav .isf-container {
      max-width: 1400px; } }
  #interactive-story .isf-container-fluid,
  .preview__nav .isf-container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  #interactive-story .isf-row,
  .preview__nav .isf-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  #interactive-story .no-gutters,
  .preview__nav .no-gutters {
    margin-right: 0;
    margin-left: 0; }
  #interactive-story .no-gutters > .col,
  #interactive-story .no-gutters > [class*="isf-col-"],
  .preview__nav .no-gutters > .col,
  .preview__nav .no-gutters > [class*="isf-col-"] {
    padding-right: 0;
    padding-left: 0; }
  #interactive-story .isf-col-1, #interactive-story .isf-col-2, #interactive-story .isf-col-3, #interactive-story .isf-col-4, #interactive-story .isf-col-5, #interactive-story .isf-col-6, #interactive-story .isf-col-7, #interactive-story .isf-col-8, #interactive-story .isf-col-9, #interactive-story .isf-col-10, #interactive-story .isf-col-11, #interactive-story .isf-col-12, #interactive-story .col,
  #interactive-story .isf-col-auto, #interactive-story .isf-col-sm-1, #interactive-story .isf-col-sm-2, #interactive-story .isf-col-sm-3, #interactive-story .isf-col-sm-4, #interactive-story .isf-col-sm-5, #interactive-story .isf-col-sm-6, #interactive-story .isf-col-sm-7, #interactive-story .isf-col-sm-8, #interactive-story .isf-col-sm-9, #interactive-story .isf-col-sm-10, #interactive-story .isf-col-sm-11, #interactive-story .isf-col-sm-12, #interactive-story .isf-col-sm,
  #interactive-story .isf-col-sm-auto, #interactive-story .isf-col-md-1, #interactive-story .isf-col-md-2, #interactive-story .isf-col-md-3, #interactive-story .isf-col-md-4, #interactive-story .isf-col-md-5, #interactive-story .isf-col-md-6, #interactive-story .isf-col-md-7, #interactive-story .isf-col-md-8, #interactive-story .isf-col-md-9, #interactive-story .isf-col-md-10, #interactive-story .isf-col-md-11, #interactive-story .isf-col-md-12, #interactive-story .isf-col-md,
  #interactive-story .isf-col-md-auto, #interactive-story .isf-col-lg-1, #interactive-story .isf-col-lg-2, #interactive-story .isf-col-lg-3, #interactive-story .isf-col-lg-4, #interactive-story .isf-col-lg-5, #interactive-story .isf-col-lg-6, #interactive-story .isf-col-lg-7, #interactive-story .isf-col-lg-8, #interactive-story .isf-col-lg-9, #interactive-story .isf-col-lg-10, #interactive-story .isf-col-lg-11, #interactive-story .isf-col-lg-12, #interactive-story .isf-col-lg,
  #interactive-story .isf-col-lg-auto, #interactive-story .isf-col-xl-1, #interactive-story .isf-col-xl-2, #interactive-story .isf-col-xl-3, #interactive-story .isf-col-xl-4, #interactive-story .isf-col-xl-5, #interactive-story .isf-col-xl-6, #interactive-story .isf-col-xl-7, #interactive-story .isf-col-xl-8, #interactive-story .isf-col-xl-9, #interactive-story .isf-col-xl-10, #interactive-story .isf-col-xl-11, #interactive-story .isf-col-xl-12, #interactive-story .isf-col-xl,
  #interactive-story .isf-col-xl-auto,
  .preview__nav .isf-col-1,
  .preview__nav .isf-col-2,
  .preview__nav .isf-col-3,
  .preview__nav .isf-col-4,
  .preview__nav .isf-col-5,
  .preview__nav .isf-col-6,
  .preview__nav .isf-col-7,
  .preview__nav .isf-col-8,
  .preview__nav .isf-col-9,
  .preview__nav .isf-col-10,
  .preview__nav .isf-col-11,
  .preview__nav .isf-col-12,
  .preview__nav .col,
  .preview__nav .isf-col-auto,
  .preview__nav .isf-col-sm-1,
  .preview__nav .isf-col-sm-2,
  .preview__nav .isf-col-sm-3,
  .preview__nav .isf-col-sm-4,
  .preview__nav .isf-col-sm-5,
  .preview__nav .isf-col-sm-6,
  .preview__nav .isf-col-sm-7,
  .preview__nav .isf-col-sm-8,
  .preview__nav .isf-col-sm-9,
  .preview__nav .isf-col-sm-10,
  .preview__nav .isf-col-sm-11,
  .preview__nav .isf-col-sm-12,
  .preview__nav .isf-col-sm,
  .preview__nav .isf-col-sm-auto,
  .preview__nav .isf-col-md-1,
  .preview__nav .isf-col-md-2,
  .preview__nav .isf-col-md-3,
  .preview__nav .isf-col-md-4,
  .preview__nav .isf-col-md-5,
  .preview__nav .isf-col-md-6,
  .preview__nav .isf-col-md-7,
  .preview__nav .isf-col-md-8,
  .preview__nav .isf-col-md-9,
  .preview__nav .isf-col-md-10,
  .preview__nav .isf-col-md-11,
  .preview__nav .isf-col-md-12,
  .preview__nav .isf-col-md,
  .preview__nav .isf-col-md-auto,
  .preview__nav .isf-col-lg-1,
  .preview__nav .isf-col-lg-2,
  .preview__nav .isf-col-lg-3,
  .preview__nav .isf-col-lg-4,
  .preview__nav .isf-col-lg-5,
  .preview__nav .isf-col-lg-6,
  .preview__nav .isf-col-lg-7,
  .preview__nav .isf-col-lg-8,
  .preview__nav .isf-col-lg-9,
  .preview__nav .isf-col-lg-10,
  .preview__nav .isf-col-lg-11,
  .preview__nav .isf-col-lg-12,
  .preview__nav .isf-col-lg,
  .preview__nav .isf-col-lg-auto,
  .preview__nav .isf-col-xl-1,
  .preview__nav .isf-col-xl-2,
  .preview__nav .isf-col-xl-3,
  .preview__nav .isf-col-xl-4,
  .preview__nav .isf-col-xl-5,
  .preview__nav .isf-col-xl-6,
  .preview__nav .isf-col-xl-7,
  .preview__nav .isf-col-xl-8,
  .preview__nav .isf-col-xl-9,
  .preview__nav .isf-col-xl-10,
  .preview__nav .isf-col-xl-11,
  .preview__nav .isf-col-xl-12,
  .preview__nav .isf-col-xl,
  .preview__nav .isf-col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  #interactive-story .isf-col,
  .preview__nav .isf-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  #interactive-story .isf-col-auto,
  .preview__nav .isf-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  #interactive-story .isf-col-1,
  .preview__nav .isf-col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  #interactive-story .isf-col-2,
  .preview__nav .isf-col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  #interactive-story .isf-col-3,
  .preview__nav .isf-col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  #interactive-story .isf-col-4,
  .preview__nav .isf-col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  #interactive-story .isf-col-5,
  .preview__nav .isf-col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  #interactive-story .isf-col-6,
  .preview__nav .isf-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  #interactive-story .isf-col-7,
  .preview__nav .isf-col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  #interactive-story .isf-col-8,
  .preview__nav .isf-col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  #interactive-story .isf-col-9,
  .preview__nav .isf-col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  #interactive-story .isf-col-10,
  .preview__nav .isf-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  #interactive-story .isf-col-11,
  .preview__nav .isf-col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  #interactive-story .isf-col-12,
  .preview__nav .isf-col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  #interactive-story .isf-order-first,
  .preview__nav .isf-order-first {
    -ms-flex-order: -1;
    order: -1; }
  #interactive-story .isf-order-last,
  .preview__nav .isf-order-last {
    -ms-flex-order: 13;
    order: 13; }
  #interactive-story .isf-order-0,
  .preview__nav .isf-order-0 {
    -ms-flex-order: 0;
    order: 0; }
  #interactive-story .isf-order-1,
  .preview__nav .isf-order-1 {
    -ms-flex-order: 1;
    order: 1; }
  #interactive-story .isf-order-2,
  .preview__nav .isf-order-2 {
    -ms-flex-order: 2;
    order: 2; }
  #interactive-story .isf-order-3,
  .preview__nav .isf-order-3 {
    -ms-flex-order: 3;
    order: 3; }
  #interactive-story .isf-order-4,
  .preview__nav .isf-order-4 {
    -ms-flex-order: 4;
    order: 4; }
  #interactive-story .isf-order-5,
  .preview__nav .isf-order-5 {
    -ms-flex-order: 5;
    order: 5; }
  #interactive-story .isf-order-6,
  .preview__nav .isf-order-6 {
    -ms-flex-order: 6;
    order: 6; }
  #interactive-story .isf-order-7,
  .preview__nav .isf-order-7 {
    -ms-flex-order: 7;
    order: 7; }
  #interactive-story .isf-order-8,
  .preview__nav .isf-order-8 {
    -ms-flex-order: 8;
    order: 8; }
  #interactive-story .isf-order-9,
  .preview__nav .isf-order-9 {
    -ms-flex-order: 9;
    order: 9; }
  #interactive-story .isf-order-10,
  .preview__nav .isf-order-10 {
    -ms-flex-order: 10;
    order: 10; }
  #interactive-story .isf-order-11,
  .preview__nav .isf-order-11 {
    -ms-flex-order: 11;
    order: 11; }
  #interactive-story .isf-order-12,
  .preview__nav .isf-order-12 {
    -ms-flex-order: 12;
    order: 12; }
  #interactive-story .isf-offset-1,
  .preview__nav .isf-offset-1 {
    margin-left: 8.333333%; }
  #interactive-story .isf-offset-2,
  .preview__nav .isf-offset-2 {
    margin-left: 16.666667%; }
  #interactive-story .isf-offset-3,
  .preview__nav .isf-offset-3 {
    margin-left: 25%; }
  #interactive-story .isf-offset-4,
  .preview__nav .isf-offset-4 {
    margin-left: 33.333333%; }
  #interactive-story .isf-offset-5,
  .preview__nav .isf-offset-5 {
    margin-left: 41.666667%; }
  #interactive-story .isf-offset-6,
  .preview__nav .isf-offset-6 {
    margin-left: 50%; }
  #interactive-story .isf-offset-7,
  .preview__nav .isf-offset-7 {
    margin-left: 58.333333%; }
  #interactive-story .isf-offset-8,
  .preview__nav .isf-offset-8 {
    margin-left: 66.666667%; }
  #interactive-story .isf-offset-9,
  .preview__nav .isf-offset-9 {
    margin-left: 75%; }
  #interactive-story .isf-offset-10,
  .preview__nav .isf-offset-10 {
    margin-left: 83.333333%; }
  #interactive-story .isf-offset-11,
  .preview__nav .isf-offset-11 {
    margin-left: 91.666667%; }
  @media (min-width: 576px) {
    #interactive-story .isf-col-sm,
    .preview__nav .isf-col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    #interactive-story .isf-col-sm-auto,
    .preview__nav .isf-col-sm-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%; }
    #interactive-story .isf-col-sm-1,
    .preview__nav .isf-col-sm-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    #interactive-story .isf-col-sm-2,
    .preview__nav .isf-col-sm-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    #interactive-story .isf-col-sm-3,
    .preview__nav .isf-col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    #interactive-story .isf-col-sm-4,
    .preview__nav .isf-col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    #interactive-story .isf-col-sm-5,
    .preview__nav .isf-col-sm-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    #interactive-story .isf-col-sm-6,
    .preview__nav .isf-col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    #interactive-story .isf-col-sm-7,
    .preview__nav .isf-col-sm-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    #interactive-story .isf-col-sm-8,
    .preview__nav .isf-col-sm-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    #interactive-story .isf-col-sm-9,
    .preview__nav .isf-col-sm-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    #interactive-story .isf-col-sm-10,
    .preview__nav .isf-col-sm-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    #interactive-story .isf-col-sm-11,
    .preview__nav .isf-col-sm-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    #interactive-story .isf-col-sm-12,
    .preview__nav .isf-col-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    #interactive-story .isf-order-sm-first,
    .preview__nav .isf-order-sm-first {
      -ms-flex-order: -1;
      order: -1; }
    #interactive-story .isf-order-sm-last,
    .preview__nav .isf-order-sm-last {
      -ms-flex-order: 13;
      order: 13; }
    #interactive-story .isf-order-sm-0,
    .preview__nav .isf-order-sm-0 {
      -ms-flex-order: 0;
      order: 0; }
    #interactive-story .isf-order-sm-1,
    .preview__nav .isf-order-sm-1 {
      -ms-flex-order: 1;
      order: 1; }
    #interactive-story .isf-order-sm-2,
    .preview__nav .isf-order-sm-2 {
      -ms-flex-order: 2;
      order: 2; }
    #interactive-story .isf-order-sm-3,
    .preview__nav .isf-order-sm-3 {
      -ms-flex-order: 3;
      order: 3; }
    #interactive-story .isf-order-sm-4,
    .preview__nav .isf-order-sm-4 {
      -ms-flex-order: 4;
      order: 4; }
    #interactive-story .isf-order-sm-5,
    .preview__nav .isf-order-sm-5 {
      -ms-flex-order: 5;
      order: 5; }
    #interactive-story .isf-order-sm-6,
    .preview__nav .isf-order-sm-6 {
      -ms-flex-order: 6;
      order: 6; }
    #interactive-story .isf-order-sm-7,
    .preview__nav .isf-order-sm-7 {
      -ms-flex-order: 7;
      order: 7; }
    #interactive-story .isf-order-sm-8,
    .preview__nav .isf-order-sm-8 {
      -ms-flex-order: 8;
      order: 8; }
    #interactive-story .isf-order-sm-9,
    .preview__nav .isf-order-sm-9 {
      -ms-flex-order: 9;
      order: 9; }
    #interactive-story .isf-order-sm-10,
    .preview__nav .isf-order-sm-10 {
      -ms-flex-order: 10;
      order: 10; }
    #interactive-story .isf-order-sm-11,
    .preview__nav .isf-order-sm-11 {
      -ms-flex-order: 11;
      order: 11; }
    #interactive-story .isf-order-sm-12,
    .preview__nav .isf-order-sm-12 {
      -ms-flex-order: 12;
      order: 12; }
    #interactive-story .isf-offset-sm-0,
    .preview__nav .isf-offset-sm-0 {
      margin-left: 0; }
    #interactive-story .isf-offset-sm-1,
    .preview__nav .isf-offset-sm-1 {
      margin-left: 8.333333%; }
    #interactive-story .isf-offset-sm-2,
    .preview__nav .isf-offset-sm-2 {
      margin-left: 16.666667%; }
    #interactive-story .isf-offset-sm-3,
    .preview__nav .isf-offset-sm-3 {
      margin-left: 25%; }
    #interactive-story .isf-offset-sm-4,
    .preview__nav .isf-offset-sm-4 {
      margin-left: 33.333333%; }
    #interactive-story .isf-offset-sm-5,
    .preview__nav .isf-offset-sm-5 {
      margin-left: 41.666667%; }
    #interactive-story .isf-offset-sm-6,
    .preview__nav .isf-offset-sm-6 {
      margin-left: 50%; }
    #interactive-story .isf-offset-sm-7,
    .preview__nav .isf-offset-sm-7 {
      margin-left: 58.333333%; }
    #interactive-story .isf-offset-sm-8,
    .preview__nav .isf-offset-sm-8 {
      margin-left: 66.666667%; }
    #interactive-story .isf-offset-sm-9,
    .preview__nav .isf-offset-sm-9 {
      margin-left: 75%; }
    #interactive-story .isf-offset-sm-10,
    .preview__nav .isf-offset-sm-10 {
      margin-left: 83.333333%; }
    #interactive-story .isf-offset-sm-11,
    .preview__nav .isf-offset-sm-11 {
      margin-left: 91.666667%; } }
  @media (min-width: 768px) {
    #interactive-story .isf-col-md,
    .preview__nav .isf-col-md {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    #interactive-story .isf-col-md-auto,
    .preview__nav .isf-col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%; }
    #interactive-story .isf-col-md-1,
    .preview__nav .isf-col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    #interactive-story .isf-col-md-2,
    .preview__nav .isf-col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    #interactive-story .isf-col-md-3,
    .preview__nav .isf-col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    #interactive-story .isf-col-md-4,
    .preview__nav .isf-col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    #interactive-story .isf-col-md-5,
    .preview__nav .isf-col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    #interactive-story .isf-col-md-6,
    .preview__nav .isf-col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    #interactive-story .isf-col-md-7,
    .preview__nav .isf-col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    #interactive-story .isf-col-md-8,
    .preview__nav .isf-col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    #interactive-story .isf-col-md-9,
    .preview__nav .isf-col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    #interactive-story .isf-col-md-10,
    .preview__nav .isf-col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    #interactive-story .isf-col-md-11,
    .preview__nav .isf-col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    #interactive-story .isf-col-md-12,
    .preview__nav .isf-col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    #interactive-story .isf-order-md-first,
    .preview__nav .isf-order-md-first {
      -ms-flex-order: -1;
      order: -1; }
    #interactive-story .isf-order-md-last,
    .preview__nav .isf-order-md-last {
      -ms-flex-order: 13;
      order: 13; }
    #interactive-story .isf-order-md-0,
    .preview__nav .isf-order-md-0 {
      -ms-flex-order: 0;
      order: 0; }
    #interactive-story .isf-order-md-1,
    .preview__nav .isf-order-md-1 {
      -ms-flex-order: 1;
      order: 1; }
    #interactive-story .isf-order-md-2,
    .preview__nav .isf-order-md-2 {
      -ms-flex-order: 2;
      order: 2; }
    #interactive-story .isf-order-md-3,
    .preview__nav .isf-order-md-3 {
      -ms-flex-order: 3;
      order: 3; }
    #interactive-story .isf-order-md-4,
    .preview__nav .isf-order-md-4 {
      -ms-flex-order: 4;
      order: 4; }
    #interactive-story .isf-order-md-5,
    .preview__nav .isf-order-md-5 {
      -ms-flex-order: 5;
      order: 5; }
    #interactive-story .isf-order-md-6,
    .preview__nav .isf-order-md-6 {
      -ms-flex-order: 6;
      order: 6; }
    #interactive-story .isf-order-md-7,
    .preview__nav .isf-order-md-7 {
      -ms-flex-order: 7;
      order: 7; }
    #interactive-story .isf-order-md-8,
    .preview__nav .isf-order-md-8 {
      -ms-flex-order: 8;
      order: 8; }
    #interactive-story .isf-order-md-9,
    .preview__nav .isf-order-md-9 {
      -ms-flex-order: 9;
      order: 9; }
    #interactive-story .isf-order-md-10,
    .preview__nav .isf-order-md-10 {
      -ms-flex-order: 10;
      order: 10; }
    #interactive-story .isf-order-md-11,
    .preview__nav .isf-order-md-11 {
      -ms-flex-order: 11;
      order: 11; }
    #interactive-story .isf-order-md-12,
    .preview__nav .isf-order-md-12 {
      -ms-flex-order: 12;
      order: 12; }
    #interactive-story .isf-offset-md-0,
    .preview__nav .isf-offset-md-0 {
      margin-left: 0; }
    #interactive-story .isf-offset-md-1,
    .preview__nav .isf-offset-md-1 {
      margin-left: 8.333333%; }
    #interactive-story .isf-offset-md-2,
    .preview__nav .isf-offset-md-2 {
      margin-left: 16.666667%; }
    #interactive-story .isf-offset-md-3,
    .preview__nav .isf-offset-md-3 {
      margin-left: 25%; }
    #interactive-story .isf-offset-md-4,
    .preview__nav .isf-offset-md-4 {
      margin-left: 33.333333%; }
    #interactive-story .isf-offset-md-5,
    .preview__nav .isf-offset-md-5 {
      margin-left: 41.666667%; }
    #interactive-story .isf-offset-md-6,
    .preview__nav .isf-offset-md-6 {
      margin-left: 50%; }
    #interactive-story .isf-offset-md-7,
    .preview__nav .isf-offset-md-7 {
      margin-left: 58.333333%; }
    #interactive-story .isf-offset-md-8,
    .preview__nav .isf-offset-md-8 {
      margin-left: 66.666667%; }
    #interactive-story .isf-offset-md-9,
    .preview__nav .isf-offset-md-9 {
      margin-left: 75%; }
    #interactive-story .isf-offset-md-10,
    .preview__nav .isf-offset-md-10 {
      margin-left: 83.333333%; }
    #interactive-story .isf-offset-md-11,
    .preview__nav .isf-offset-md-11 {
      margin-left: 91.666667%; } }
  @media (min-width: 992px) {
    #interactive-story .isf-col-lg,
    .preview__nav .isf-col-lg {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    #interactive-story .isf-col-lg-auto,
    .preview__nav .isf-col-lg-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%; }
    #interactive-story .isf-col-lg-1,
    .preview__nav .isf-col-lg-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    #interactive-story .isf-col-lg-2,
    .preview__nav .isf-col-lg-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    #interactive-story .isf-col-lg-3,
    .preview__nav .isf-col-lg-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    #interactive-story .isf-col-lg-4,
    .preview__nav .isf-col-lg-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    #interactive-story .isf-col-lg-5,
    .preview__nav .isf-col-lg-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    #interactive-story .isf-col-lg-6,
    .preview__nav .isf-col-lg-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    #interactive-story .isf-col-lg-7,
    .preview__nav .isf-col-lg-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    #interactive-story .isf-col-lg-8,
    .preview__nav .isf-col-lg-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    #interactive-story .isf-col-lg-9,
    .preview__nav .isf-col-lg-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    #interactive-story .isf-col-lg-10,
    .preview__nav .isf-col-lg-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    #interactive-story .isf-col-lg-11,
    .preview__nav .isf-col-lg-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    #interactive-story .isf-col-lg-12,
    .preview__nav .isf-col-lg-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    #interactive-story .isf-order-lg-first,
    .preview__nav .isf-order-lg-first {
      -ms-flex-order: -1;
      order: -1; }
    #interactive-story .isf-order-lg-last,
    .preview__nav .isf-order-lg-last {
      -ms-flex-order: 13;
      order: 13; }
    #interactive-story .isf-order-lg-0,
    .preview__nav .isf-order-lg-0 {
      -ms-flex-order: 0;
      order: 0; }
    #interactive-story .isf-order-lg-1,
    .preview__nav .isf-order-lg-1 {
      -ms-flex-order: 1;
      order: 1; }
    #interactive-story .isf-order-lg-2,
    .preview__nav .isf-order-lg-2 {
      -ms-flex-order: 2;
      order: 2; }
    #interactive-story .isf-order-lg-3,
    .preview__nav .isf-order-lg-3 {
      -ms-flex-order: 3;
      order: 3; }
    #interactive-story .isf-order-lg-4,
    .preview__nav .isf-order-lg-4 {
      -ms-flex-order: 4;
      order: 4; }
    #interactive-story .isf-order-lg-5,
    .preview__nav .isf-order-lg-5 {
      -ms-flex-order: 5;
      order: 5; }
    #interactive-story .isf-order-lg-6,
    .preview__nav .isf-order-lg-6 {
      -ms-flex-order: 6;
      order: 6; }
    #interactive-story .isf-order-lg-7,
    .preview__nav .isf-order-lg-7 {
      -ms-flex-order: 7;
      order: 7; }
    #interactive-story .isf-order-lg-8,
    .preview__nav .isf-order-lg-8 {
      -ms-flex-order: 8;
      order: 8; }
    #interactive-story .isf-order-lg-9,
    .preview__nav .isf-order-lg-9 {
      -ms-flex-order: 9;
      order: 9; }
    #interactive-story .isf-order-lg-10,
    .preview__nav .isf-order-lg-10 {
      -ms-flex-order: 10;
      order: 10; }
    #interactive-story .isf-order-lg-11,
    .preview__nav .isf-order-lg-11 {
      -ms-flex-order: 11;
      order: 11; }
    #interactive-story .isf-order-lg-12,
    .preview__nav .isf-order-lg-12 {
      -ms-flex-order: 12;
      order: 12; }
    #interactive-story .isf-offset-lg-0,
    .preview__nav .isf-offset-lg-0 {
      margin-left: 0; }
    #interactive-story .isf-offset-lg-1,
    .preview__nav .isf-offset-lg-1 {
      margin-left: 8.333333%; }
    #interactive-story .isf-offset-lg-2,
    .preview__nav .isf-offset-lg-2 {
      margin-left: 16.666667%; }
    #interactive-story .isf-offset-lg-3,
    .preview__nav .isf-offset-lg-3 {
      margin-left: 25%; }
    #interactive-story .isf-offset-lg-4,
    .preview__nav .isf-offset-lg-4 {
      margin-left: 33.333333%; }
    #interactive-story .isf-offset-lg-5,
    .preview__nav .isf-offset-lg-5 {
      margin-left: 41.666667%; }
    #interactive-story .isf-offset-lg-6,
    .preview__nav .isf-offset-lg-6 {
      margin-left: 50%; }
    #interactive-story .isf-offset-lg-7,
    .preview__nav .isf-offset-lg-7 {
      margin-left: 58.333333%; }
    #interactive-story .isf-offset-lg-8,
    .preview__nav .isf-offset-lg-8 {
      margin-left: 66.666667%; }
    #interactive-story .isf-offset-lg-9,
    .preview__nav .isf-offset-lg-9 {
      margin-left: 75%; }
    #interactive-story .isf-offset-lg-10,
    .preview__nav .isf-offset-lg-10 {
      margin-left: 83.333333%; }
    #interactive-story .isf-offset-lg-11,
    .preview__nav .isf-offset-lg-11 {
      margin-left: 91.666667%; } }
  @media (min-width: 1200px) {
    #interactive-story .isf-col-xl,
    .preview__nav .isf-col-xl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    #interactive-story .isf-col-xl-auto,
    .preview__nav .isf-col-xl-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%; }
    #interactive-story .isf-col-xl-1,
    .preview__nav .isf-col-xl-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%; }
    #interactive-story .isf-col-xl-2,
    .preview__nav .isf-col-xl-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%; }
    #interactive-story .isf-col-xl-3,
    .preview__nav .isf-col-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    #interactive-story .isf-col-xl-4,
    .preview__nav .isf-col-xl-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%; }
    #interactive-story .isf-col-xl-5,
    .preview__nav .isf-col-xl-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%; }
    #interactive-story .isf-col-xl-6,
    .preview__nav .isf-col-xl-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    #interactive-story .isf-col-xl-7,
    .preview__nav .isf-col-xl-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
    #interactive-story .isf-col-xl-8,
    .preview__nav .isf-col-xl-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%; }
    #interactive-story .isf-col-xl-9,
    .preview__nav .isf-col-xl-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    #interactive-story .isf-col-xl-10,
    .preview__nav .isf-col-xl-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%; }
    #interactive-story .isf-col-xl-11,
    .preview__nav .isf-col-xl-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%; }
    #interactive-story .isf-col-xl-12,
    .preview__nav .isf-col-xl-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    #interactive-story .isf-order-xl-first,
    .preview__nav .isf-order-xl-first {
      -ms-flex-order: -1;
      order: -1; }
    #interactive-story .isf-order-xl-last,
    .preview__nav .isf-order-xl-last {
      -ms-flex-order: 13;
      order: 13; }
    #interactive-story .isf-order-xl-0,
    .preview__nav .isf-order-xl-0 {
      -ms-flex-order: 0;
      order: 0; }
    #interactive-story .isf-order-xl-1,
    .preview__nav .isf-order-xl-1 {
      -ms-flex-order: 1;
      order: 1; }
    #interactive-story .isf-order-xl-2,
    .preview__nav .isf-order-xl-2 {
      -ms-flex-order: 2;
      order: 2; }
    #interactive-story .isf-order-xl-3,
    .preview__nav .isf-order-xl-3 {
      -ms-flex-order: 3;
      order: 3; }
    #interactive-story .isf-order-xl-4,
    .preview__nav .isf-order-xl-4 {
      -ms-flex-order: 4;
      order: 4; }
    #interactive-story .isf-order-xl-5,
    .preview__nav .isf-order-xl-5 {
      -ms-flex-order: 5;
      order: 5; }
    #interactive-story .isf-order-xl-6,
    .preview__nav .isf-order-xl-6 {
      -ms-flex-order: 6;
      order: 6; }
    #interactive-story .isf-order-xl-7,
    .preview__nav .isf-order-xl-7 {
      -ms-flex-order: 7;
      order: 7; }
    #interactive-story .isf-order-xl-8,
    .preview__nav .isf-order-xl-8 {
      -ms-flex-order: 8;
      order: 8; }
    #interactive-story .isf-order-xl-9,
    .preview__nav .isf-order-xl-9 {
      -ms-flex-order: 9;
      order: 9; }
    #interactive-story .isf-order-xl-10,
    .preview__nav .isf-order-xl-10 {
      -ms-flex-order: 10;
      order: 10; }
    #interactive-story .isf-order-xl-11,
    .preview__nav .isf-order-xl-11 {
      -ms-flex-order: 11;
      order: 11; }
    #interactive-story .isf-order-xl-12,
    .preview__nav .isf-order-xl-12 {
      -ms-flex-order: 12;
      order: 12; }
    #interactive-story .isf-offset-xl-0,
    .preview__nav .isf-offset-xl-0 {
      margin-left: 0; }
    #interactive-story .isf-offset-xl-1,
    .preview__nav .isf-offset-xl-1 {
      margin-left: 8.333333%; }
    #interactive-story .isf-offset-xl-2,
    .preview__nav .isf-offset-xl-2 {
      margin-left: 16.666667%; }
    #interactive-story .isf-offset-xl-3,
    .preview__nav .isf-offset-xl-3 {
      margin-left: 25%; }
    #interactive-story .isf-offset-xl-4,
    .preview__nav .isf-offset-xl-4 {
      margin-left: 33.333333%; }
    #interactive-story .isf-offset-xl-5,
    .preview__nav .isf-offset-xl-5 {
      margin-left: 41.666667%; }
    #interactive-story .isf-offset-xl-6,
    .preview__nav .isf-offset-xl-6 {
      margin-left: 50%; }
    #interactive-story .isf-offset-xl-7,
    .preview__nav .isf-offset-xl-7 {
      margin-left: 58.333333%; }
    #interactive-story .isf-offset-xl-8,
    .preview__nav .isf-offset-xl-8 {
      margin-left: 66.666667%; }
    #interactive-story .isf-offset-xl-9,
    .preview__nav .isf-offset-xl-9 {
      margin-left: 75%; }
    #interactive-story .isf-offset-xl-10,
    .preview__nav .isf-offset-xl-10 {
      margin-left: 83.333333%; }
    #interactive-story .isf-offset-xl-11,
    .preview__nav .isf-offset-xl-11 {
      margin-left: 91.666667%; } }

/* TRANSITIONS */
/* DELAYS */
/* BACKGROUND AND FONT COLORS */
.isf-f-black {
  color: #000000; }

.isf-f-white {
  color: #ffffff; }

.isf-f-main {
  color: #aa3939; }

.isf-f-secondary {
  color: #f4eee1; }

.isf-bg-black {
  background-color: #000000; }

.isf-bg-white {
  background-color: #ffffff; }

.isf-bg-main {
  background-color: #aa3939; }

.isf-bg-secondary {
  background-color: #f4eee1; }

/* /////// ICONS /////// */
.icon--lg {
  font-size: 3rem; }

.icon--md {
  font-size: 2rem; }

.icon--sm {
  font-size: 1.2rem; }

.icon--light {
  color: #ffffff; }

.icon--dark {
  color: #000000; }

/* /////// TYPOGRAPHY /////// */
/* Default HSNB styles */
#interactive-story {
  color: #2e2e2e;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }
  #interactive-story body {
    margin: 0px; }
  #interactive-story button {
    border: none;
    box-shadow: none;
    outline: none !important;
    padding: 0px; }
  #interactive-story h1, #interactive-story h2, #interactive-story h3, #interactive-story h4, #interactive-story h5, #interactive-story h6 {
    margin: 0px; }
  #interactive-story ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  #interactive-story p {
    font-size: .9411764706rem;
    line-height: 1.5;
    margin-bottom: .7647058824rem; }
    @media (min-width: 768px) {
      #interactive-story p {
        font-size: 1.1176470588rem;
        margin-bottom: 1.5294117647rem; } }
  #interactive-story h1 {
    font-size: 2.1117647059rem;
    line-height: 1.3;
    margin-bottom: 1.1764705882rem;
    font-weight: 600; }
    @media (min-width: 768px) {
      #interactive-story h1 {
        font-size: 2.3529411765rem;
        margin-bottom: 2.2352941176rem; } }
    @media (min-width: 1260px) {
      #interactive-story h1 {
        font-size: 3.2352941176rem; } }
  #interactive-story h2 {
    font-size: 1.3529411765rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: .8823529412rem;
    padding-top: .5882352941rem;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      #interactive-story h2 {
        font-size: 1.7647058824rem;
        margin-bottom: 1.7058823529rem;
        padding-top: 1.7058823529rem; } }
  #interactive-story h3 {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1.5294117647rem; }
    @media (min-width: 768px) {
      #interactive-story h3 {
        font-size: 2.706rem;
        line-height: 1.3; } }
  #interactive-story h4 {
    font-weight: 600;
    font-size: 1.1411764706rem;
    line-height: 1.5;
    margin-bottom: .7647058824rem; }
    @media (min-width: 768px) {
      #interactive-story h4 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem; } }
  #interactive-story small {
    display: block;
    font-size: 0.9rem; }

/* EL_TXT */
.isf-el_txt {
  max-width: 40rem;
  margin: 0 auto; }
  .isf-el_txt .headline {
    margin-bottom: 45px; }

/* EL_QUOTE */
.isf-el_quote {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center; }

.isf-el_video .el_video--wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden; }
  .isf-el_video .el_video--wrapper iframe {
    position: absolute;
    height: 100%;
    width: 100%; }

body.hsnbisf-preview {
  margin: 0px;
  font-family: "Univers", "Helvetica", Arial, sans-serif;
  color: #2e2e2e;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  overflow-x: hidden; }

#interactive-story {
  color: #2e2e2e;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: "Univers", "Helvetica", Arial, sans-serif; }
  #interactive-story img {
    width: 100%;
    max-width: 100%; }
  #interactive-story button {
    border: none;
    box-shadow: none;
    outline: none !important;
    padding: 0px; }
  #interactive-story h1, #interactive-story h2, #interactive-story h3, #interactive-story h4, #interactive-story h5, #interactive-story h6 {
    margin: 0px; }
  #interactive-story ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  #interactive-story p {
    font-size: .9411764706rem;
    line-height: 1.5;
    margin-bottom: .7647058824rem; }
    @media (min-width: 768px) {
      #interactive-story p {
        font-size: 1.1176470588rem;
        margin-bottom: 1.5294117647rem; } }
  #interactive-story h1 {
    font-size: 2.1117647059rem;
    line-height: 1.3;
    margin-bottom: 1.1764705882rem;
    font-weight: 600; }
    @media (min-width: 768px) {
      #interactive-story h1 {
        font-size: 2.3529411765rem;
        margin-bottom: 2.2352941176rem; } }
    @media (min-width: 1260px) {
      #interactive-story h1 {
        font-size: 3.2352941176rem; } }
  #interactive-story h2 {
    font-size: 1.3529411765rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: .8823529412rem;
    padding-top: .5882352941rem;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      #interactive-story h2 {
        font-size: 1.7647058824rem;
        margin-bottom: 1.7058823529rem;
        padding-top: 1.7058823529rem; } }
  #interactive-story h3 {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 1.5294117647rem; }
    @media (min-width: 768px) {
      #interactive-story h3 {
        font-size: 2.706rem;
        line-height: 1.3; } }
  #interactive-story h4 {
    font-weight: 600;
    font-size: 1.1411764706rem;
    line-height: 1.5;
    margin-bottom: .7647058824rem; }
    @media (min-width: 768px) {
      #interactive-story h4 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem; } }
  #interactive-story small {
    display: block;
    font-size: 0.9rem; }

/* Preview */
.preview__nav {
  width: 100%;
  background-color: white;
  top: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
  background-color: white;
  z-index: 2000; }
  @media (min-width: 1600px) {
    .preview__nav {
      height: 90px; } }
  .preview__nav a {
    color: black; }
  .preview__nav .preview__brand {
    padding: 5px 15px; }
    .preview__nav .preview__brand h1 {
      color: black;
      margin: 0px; }
  .preview__nav .preview__list ul.main {
    display: flex;
    padding: 0px; }
    .preview__nav .preview__list ul.main li.main-li {
      display: flex;
      position: relative;
      padding: 0px 5px 0px 15px; }
      .preview__nav .preview__list ul.main li.main-li h6 {
        display: flex;
        align-items: center;
        margin: 0px; }
        .preview__nav .preview__list ul.main li.main-li h6 a {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: 12px; }
      .preview__nav .preview__list ul.main li.main-li ion-icon {
        font-size: 21px;
        margin-right: 5px; }
      .preview__nav .preview__list ul.main li.main-li.dropdown {
        z-index: 200; }
        .preview__nav .preview__list ul.main li.main-li.dropdown h6.ul-title {
          color: white;
          font-weight: 300; }
        .preview__nav .preview__list ul.main li.main-li.dropdown ion-icon {
          transition: 0.2s all; }
        .preview__nav .preview__list ul.main li.main-li.dropdown .wrap {
          opacity: 0;
          max-height: 0px;
          position: absolute;
          top: 45px;
          background: black;
          transition: 0.2s all;
          transition-delay: 0.2s;
          pointer-events: none;
          padding: 30px 15px;
          width: 600px;
          right: 0; }
          .preview__nav .preview__list ul.main li.main-li.dropdown .wrap .wrap-inner a {
            color: white; }
          .preview__nav .preview__list ul.main li.main-li.dropdown .wrap .wrap-inner ul.wrap-inner__group {
            list-style: none; }
            .preview__nav .preview__list ul.main li.main-li.dropdown .wrap .wrap-inner ul.wrap-inner__group h6 {
              margin-bottom: 15px;
              color: white;
              font-size: 15px; }
            .preview__nav .preview__list ul.main li.main-li.dropdown .wrap .wrap-inner ul.wrap-inner__group li a {
              text-decoration: none; }
          @media (max-width: 767px) {
            .preview__nav .preview__list ul.main li.main-li.dropdown .wrap {
              position: fixed;
              top: 90px;
              left: 0; }
              .preview__nav .preview__list ul.main li.main-li.dropdown .wrap ul.wrap-inner__group {
                margin-bottom: 30px; } }
        .preview__nav .preview__list ul.main li.main-li.dropdown.is-dropdown-open h6 a {
          color: blue; }
        .preview__nav .preview__list ul.main li.main-li.dropdown.is-dropdown-open ion-icon {
          transform: rotate(-45deg);
          color: blue; }
        .preview__nav .preview__list ul.main li.main-li.dropdown.is-dropdown-open .wrap {
          transition-delay: 0s;
          opacity: 1;
          max-height: 600px;
          pointer-events: all; }
          .preview__nav .preview__list ul.main li.main-li.dropdown.is-dropdown-open .wrap ul {
            opacity: 1;
            transition-delay: 0.2s; }
  @media (min-width: 768px) {
    .preview__nav {
      height: 90px;
      display: flex; }
      .preview__nav li.main-li {
        padding: 0px 30px !important; }
        .preview__nav li.main-li a {
          font-size: 15px !important; } }

/* Move!!! */
.isf-group--fullscreen {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .isf-group--fullscreen .isf-group__item {
    position: absolute; }

.isf-w--m {
  max-width: 50vw; }
  @media (min-width: 992px) {
    .isf-w--m {
      max-width: 450px; } }

.isf-w--l {
  max-width: 80vw; }
  @media (min-width: 992px) {
    .isf-w--l {
      max-width: 630px; } }

.isf-w--xl {
  max-width: 100vw; }
  @media (min-width: 992px) {
    .isf-w--xl {
      max-width: 800px; } }

.isf-h--center {
  left: 50%;
  transform: translateX(-50%); }

.isf-h--left {
  left: 15px; }

.isf-h--right {
  right: 15px; }
  @media (min-width: 1200px) {
    .isf-h--right {
      right: 30px; } }

.isf-v--center {
  top: 50%;
  transform: translateY(-50%); }

.isf-v--top {
  top: 15px; }

.isf-v--bottom {
  bottom: 15px; }

.isf-v--center.isf-h--center {
  transform: translateX(-50%) translateY(-50%); }

.isf-bg-lightgrey {
  background-color: #e9e9e9; }

/* Modules */
/* Interactive scroller */
.isf-layout_interactive-scroller {
  position: relative;
  z-index: 10;
  min-width: 100vw; }
  .isf-layout_interactive-scroller.is--active .isf-layout_interactive-scroller__step.step--start, .isf-layout_interactive-scroller.is--active .isf-layout_interactive-scroller__step.step--end {
    background: none; }
  .isf-layout_interactive-scroller.is--active .isf-layout_interactive-scroller__step.step--start {
    z-index: 20;
    position: relative; }
  .isf-layout_interactive-scroller__step {
    min-height: 300px;
    height: 100vh;
    -webkit-transition: background 400ms;
    transition: background 400ms; }
    .isf-layout_interactive-scroller__step.step--start, .isf-layout_interactive-scroller__step.step--end {
      min-height: auto;
      height: 20vh;
      z-index: 20;
      position: relative; }
  .isf-layout_interactive-scroller__viewer {
    position: absolute;
    top: 0;
    background-color: grey;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
    transition: opacity 200ms; }
  .isf-layout_interactive-scroller__content__group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none; }
    .isf-layout_interactive-scroller__content__group.is--active {
      opacity: 1;
      pointer-events: all; }
  .isf-layout_interactive-scroller__indicators {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all; }
    .isf-layout_interactive-scroller__indicators .indicator {
      height: 12px;
      width: 12px;
      margin: 0px 5px;
      border-radius: 50%;
      background-color: grey; }
      .isf-layout_interactive-scroller__indicators .indicator.is--active {
        background-color: white; }
  .isf-layout_interactive-scroller.is--fixed .isf-layout_interactive-scroller__indicators {
    opacity: 1; }

html, body {
  font-family: "Univers", "Helvetica", Arial, sans-serif;
  color: #2e2e2e;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  overflow-x: hidden; }

img {
  width: 100%;
  max-width: 100%; }

.sample-content {
  height: 200vh; }

.isf-layout_interactive-scroller__content__group {
  transition: 0.2s all; }

.isf-group__background {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center; }
  .isf-group__background .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4; }

/*# sourceMappingURL=styles.css.map */
